  <body>
    <h1>CxClipboard.com</h1>
    <p>
      This is the home page for the
      <a href="http://www.cxclipboard.com/">CxClipboard</a> web application which makes commissioning your project a snap.
    </p>
    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
  </body>
</html>
